*/2 * * * * cd /home/stanlee321/Desktop/2020/elecciones/elecciones_scraper_2020 && /usr/bin/python3 /home/stanlee321/Desktop/2020/elecciones/elecciones_scraper_2020/main.py >> /home/stanlee321/Desktop/2020/elecciones/elecciones_scraper_2020/app.log 2>&1
